body {
    display: flex;
    justify-content: space-evenly;
}
#grid {
    display:flex;
    height: 500px;
    width: 500px;

    flex-wrap: wrap;
    border: solid black 1px;
}
.square {
    display: inline-block;
    height: 125px;
    width: 125;
}
.painted {
    background-color: black;
}