body {
    display: flex;
    justify-content: center;
}
#grid {
    display:flex;
    height: 500px;
    width: 500px;

    flex-wrap: wrap;
    border: solid black 1px;
    position: absolute;
}
.square {
    min-height: 125px;
    min-width: 125px;
    max-height: 125px;
    max-width: 125px;
    flex: 0;
    
}
.painted {
    background-color: black;
}